.container {
  display: contents;
  justify-content: center;
  align-items: center;
}

.title {
  color: #67756C;
  font-size: 120px;
  text-align: center;
}

.title span { color: #447554; }

.logo {
  width: 56vw;
  margin-left: 22vw;  
}

@media only screen and (max-width: 1024px) {
  .logo {
    width: 90vw;
    margin-left: 5vw;
  }
}